$stepPalette: (
  topTitleBackground:
    linear-gradient(to top, var(--orange), var(--light-yellow)),
  topTitleColor: var(--highlight),
  topTitleHintColor: var(--white),
  textHeaderColor: var(--white),
  textShadow: 0 0 6px rgba(#000, 0.9),
  textContentColor: var(--white),
  titleBackgroundImage: url("/assets/images/ld-promotion/rule/rule-title.png"),
);

#step {
  // steps
  $topTitleColor: map-get($stepPalette, topTitleColor);
  $topTitleBackground: map-get($stepPalette, topTitleBackground);
  $topTitleHintColor: map-get($stepPalette, topTitleHintColor);
  $textHeaderColor: map-get($stepPalette, textHeaderColor);
  $textShadow: map-get($stepPalette, textShadow);
  $titleBackgroundImage: map-get($stepPalette, titleBackgroundImage);

  .header {
    background: $titleBackgroundImage;
    text-shadow: $textShadow;
    color: $textHeaderColor;
    background-position: center;
    background-size: 400px;
    background-repeat: no-repeat;
    height: 125px;
    line-height: 125px;
    opacity: 0.9;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 6.6px;
    text-align: center;
  }

  .stepContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 20px;

    @include breakpoint("max", "md") {
      flex-direction: column;
      align-items: center;
    }
  }

  .topTitle {
    &.h1 {
      background-image: $topTitleBackground;
      margin: 10px;
      font-size: 44px;
      font-weight: 560;
      line-height: 1.2;
      text-align: center;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;

      @include breakpoint("max", "md") {
        font-size: 32px;
      }
    }
    &.h2 {
      margin: 6px;
      font-size: 22px;
      font-weight: 500;
      line-height: 1.3;
      text-align: center;
      color: $topTitleColor;

      @include breakpoint("max", "md") {
        font-size: 18px;
      }
    }
    &.h3 {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.79;
      text-align: center;
      color: $topTitleHintColor;
    }
  }

  // step

  $textContentColor: map-get($stepPalette, textContentColor);

  .step {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    text-align: center;

    .stepLink {
      display: flex;
      justify-content: center;
      text-decoration: none;
    }

    .stepicon {
      width: 166px;

      @include breakpoint("between", "md", "lg") {
        width: 130px;
      }

      @include breakpoint("max", "md") {
        width: 160px;
      }
    }

    .steptitle {
      background: url("/assets/images/ld-promotion/rule/feature-step.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 140px;
      height: 55px;
      line-height: 50px;
      top: 145px;
      color: $textContentColor;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 0.63px;
      position: absolute;

      @include breakpoint("between", "md", "lg") {
        width: 120px;
        top: 115px;
        line-height: 40px;
      }

      @include breakpoint("max", "md") {
        width: 120px;
        top: 135px;
        line-height: 40px;
      }
    }

    .stepcontent {
      margin-top: 40px;
      width: 180px;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.25;
      color: $textContentColor;

      @include breakpoint("between", "md", "lg") {
        width: 135px;
        font-size: 18px;
        line-height: 1.11;
      }

      @include breakpoint("max", "md") {
        margin-top: 35px;
        width: 300px;
        font-size: 18px;
        line-height: 1.11;
      }
    }
  }
}
