<nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
  <input
    type="text"
    nz-input
    placeholder="Theme title"
    [(ngModel)]="themeTitle"
  />
</nz-input-group>
<ng-template #suffixButton>
  <button
    nz-button
    nzType="primary"
    nzSearch
    (click)="storage.saveTheme(themeTitle)"
  >
    Save
  </button>
  <button nz-button nzType="second" (click)="toggleImport()">
    Import
  </button>
  <button nz-button nzType="second" (click)="toggleExport()">
    Export
  </button>
</ng-template>

<nz-button-group>
  <ng-container *ngFor="let item of storage.themeList()">
    <button
      (click)="storage.restoreTheme(item.name)"
      nz-button
      nzType="default"
    >
      {{ item.name }}
    </button>
    <button
      *ngIf="item.editable"
      (click)="storage.deleteTheme(item.name)"
      nz-button
      nzDanger
      nzType="primary"
      nzShape="circle"
    >
      <i nz-icon nzType="close" nzTheme="outline"></i>
    </button>
  </ng-container>
</nz-button-group>

<nz-modal
  [(nzVisible)]="isImportVisible"
  nzTitle="Import Modal"
  (nzOnCancel)="toggleImport()"
  (nzOnOk)="handleImport()"
>
  <textarea
    nz-input
    placeholder="Import string"
    [nzAutosize]="{ minRows: 3, maxRows: 5 }"
    [ngStyle]="{'word-break': 'break-all'}"
    [(ngModel)]="importText"
  ></textarea>
</nz-modal>

<nz-modal
  [(nzVisible)]="isExportVisible"
  nzTitle="Export Modal"
  (nzOnCancel)="toggleExport()"
  (nzOnOk)="toggleExport()"
>
  <textarea
    id="exportText"
    nz-input
    placeholder="Export string"
    [ngStyle]="{'word-break': 'break-all'}"
    [nzAutosize]="{ minRows: 3, maxRows: 5 }"
    [(ngModel)]="exportText"
  ></textarea>

  <div *nzModalFooter>
    <button
      nz-button
      nzType="primary"
      class="exportTextBtn"
      data-clipboard-target="#exportText"
    >
      Copy to clipboard
    </button>
  </div>
</nz-modal>
